In [1]:
import pandas as pd, os

In [3]:
d1 = pd.read_csv('../donnees/meteo/2025/synop.202501.csv',
                 sep=';',
                 usecols=['numer_sta','date','dd','ff','t','u','vv',
                          'pres','rr1','rr3','rr6','rr12','rr24'],
                na_values='mq' )
d2 = pd.read_csv('../donnees/meteo/2025/synop.202502.csv',
                 sep=';',
                 usecols=['numer_sta','date','dd','ff','t','u','vv',
                           'pres','rr1','rr3','rr6','rr12','rr24'],
                na_values='mq' )

In [6]:
d3 = pd.concat([d1,d2],axis=0)
d3.head()

,numer_sta,date,dd,ff,t,u,vv,pres,rr1,rr3,rr6,rr12,rr24
0,7005,20250101000000,200.0,2.5,281.15,82.0,20000.0,101300.0,0.0,0.0,0.0,0.0,-0.1
1,7015,20250101000000,200.0,11.9,280.95,86.0,26860.0,101480.0,0.0,0.0,0.0,0.0,0.0
2,7020,20250101000000,200.0,15.0,284.05,86.0,NaN,101870.0,0.0,0.0,0.0,0.0,NaN
3,7027,20250101000000,190.0,8.6,280.35,85.0,54100.0,101510.0,0.0,0.0,0.0,0.0,0.0
4,7037,20250101000000,210.0,9.8,279.95,84.0,55060.0,100550.0,0.0,0.0,0.0,0.0,0.0

In [7]:
d3.tail()

,numer_sta,date,dd,ff,t,u,vv,pres,rr1,rr3,rr6,rr12,rr24
13154,78925,20250228210000,110.0,6.3,300.45,69.0,31340.0,101260.0,0.0,-0.1,-0.1,1.8,2.4
13155,81401,20250228210000,40.0,1.8,301.35,61.0,NaN,101000.0,0.0,0.0,0.0,0.2,0.2
13156,81405,20250228210000,50.0,5.3,301.15,63.0,33550.0,101020.0,0.0,0.0,-0.1,-0.1,-0.1
13157,81408,20250228210000,20.0,3.7,301.75,65.0,NaN,100890.0,0.0,0.0,0.0,0.0,0.0
13158,89642,20250228210000,170.0,19.0,266.75,52.0,20000.0,97070.0,NaN,NaN,NaN,NaN,NaN

In [29]:
l = [1,2,3,4,'a',1.8,True,[1,2,3]]
for x in l : print(x)

1
2
3
4
a
1.8
True
[1, 2, 3]

In [30]:
[x for x in l ]

[1, 2, 3, 4, 'a', 1.8, True, [1, 2, 3]]

In [24]:
tab = pd.DataFrame()
for dirname, _, filenames in os.walk('../donnees/meteo/2025'):
    for filename in filenames:
        tab = pd.concat([tab, pd.read_csv(os.path.join(dirname, filename),
                                         sep=';',
                                         usecols=['numer_sta','date','dd','ff','t','u','vv',
                                                  'pres','rr1','rr3','rr6','rr12','rr24'],
                                        na_values='mq' )], axis=0)
tab.head()

,numer_sta,date,dd,ff,t,u,vv,pres,rr1,rr3,rr6,rr12,rr24
0,7005,20250101000000,200.0,2.5,281.15,82.0,20000.0,101300.0,0.0,0.0,0.0,0.0,-0.1
1,7015,20250101000000,200.0,11.9,280.95,86.0,26860.0,101480.0,0.0,0.0,0.0,0.0,0.0
2,7020,20250101000000,200.0,15.0,284.05,86.0,NaN,101870.0,0.0,0.0,0.0,0.0,NaN
3,7027,20250101000000,190.0,8.6,280.35,85.0,54100.0,101510.0,0.0,0.0,0.0,0.0,0.0
4,7037,20250101000000,210.0,9.8,279.95,84.0,55060.0,100550.0,0.0,0.0,0.0,0.0,0.0

In [25]:
tab.shape

(162695, 13)

In [26]:
tab.tail()

,numer_sta,date,dd,ff,t,u,vv,pres,rr1,rr3,rr6,rr12,rr24
15090,81401,20251231210000,120.0,1.6,297.75,NaN,NaN,101240.0,1.2,12.1,12.5,13.5,13.9
15091,81405,20251231210000,60.0,5.2,301.35,77.0,47750.0,101230.0,0.0,0.0,-0.1,3.0,6.0
15092,81408,20251231210000,70.0,2.3,302.15,NaN,NaN,101150.0,0.0,0.0,0.0,0.0,5.6
15093,81415,20251231210000,110.0,1.3,305.35,NaN,NaN,99950.0,0.0,0.0,0.0,0.0,0.8
15094,89642,20251231210000,100.0,8.2,273.25,98.0,1500.0,98460.0,NaN,NaN,NaN,NaN,NaN