In [1]:
import pandas as pd, os

In [2]:
d1 = pd.read_csv('../donnees/meteo/2025/synop.202501.csv',sep=';',usecols=['numer_sta','date','dd','ff','t','u','vv',
                                                        'pres','rr1','rr3','rr6','rr12','rr24'])
d2 = pd.read_csv('../donnees/meteo/2025/synop.202502.csv',sep=';',usecols=['numer_sta','date','dd','ff','t','u','vv',
                                                        'pres','rr1','rr3','rr6','rr12','rr24'],)

In [3]:
d3 = pd.concat([d1,d2],axis=0)
d3.head()

,numer_sta,date,dd,ff,t,u,vv,pres,rr1,rr3,rr6,rr12,rr24
0,7005,20250101000000,200,2.500000,281.150000,82,20000,101300,0.000000,0.000000,0.000000,0.000000,-0.100000
1,7015,20250101000000,200,11.900000,280.950000,86,26860,101480,0.000000,0.000000,0.000000,0.000000,0.000000
2,7020,20250101000000,200,15.000000,284.050000,86,mq,101870,0.000000,0.000000,0.000000,0.000000,mq
3,7027,20250101000000,190,8.600000,280.350000,85,54100,101510,0.000000,0.000000,0.000000,0.000000,0.000000
4,7037,20250101000000,210,9.800000,279.950000,84,55060,100550,0.000000,0.000000,0.000000,0.000000,0.000000

In [4]:
pd.concat([d1,d2]).tail()

,numer_sta,date,dd,ff,t,u,vv,pres,rr1,rr3,rr6,rr12,rr24
13154,78925,20250228210000,110,6.300000,300.450000,69,31340,101260,0.000000,-0.100000,-0.100000,1.800000,2.400000
13155,81401,20250228210000,40,1.800000,301.350000,61,mq,101000,0.000000,0.000000,0.000000,0.200000,0.200000
13156,81405,20250228210000,50,5.300000,301.150000,63,33550,101020,0.000000,0.000000,-0.100000,-0.100000,-0.100000
13157,81408,20250228210000,20,3.700000,301.750000,65,mq,100890,0.000000,0.000000,0.000000,0.000000,0.000000
13158,89642,20250228210000,170,19.000000,266.750000,52,20000,97070,mq,mq,mq,mq,mq

In [5]:
for dirname, _, filenames in os.walk('../donnees/meteo'):
    for filename in filenames:
        print(os.path.join(dirname,filename))

../donnees/meteo\2024\synop.202401.csv
../donnees/meteo\2024\synop.202402.csv
../donnees/meteo\2024\synop.202403.csv
../donnees/meteo\2024\synop.202404.csv
../donnees/meteo\2024\synop.202405.csv
../donnees/meteo\2024\synop.202406.csv
../donnees/meteo\2024\synop.202407.csv
../donnees/meteo\2024\synop.202408.csv
../donnees/meteo\2024\synop.202409.csv
../donnees/meteo\2024\synop.202410.csv
../donnees/meteo\2024\synop.202411.csv
../donnees/meteo\2024\synop.202412.csv
../donnees/meteo\2025\synop.202501.csv
../donnees/meteo\2025\synop.202502.csv
../donnees/meteo\2025\synop.202503.csv
../donnees/meteo\2025\synop.202504.csv
../donnees/meteo\2025\synop.202505.csv
../donnees/meteo\2025\synop.202506.csv
../donnees/meteo\2025\synop.202507.csv
../donnees/meteo\2025\synop.202508.csv
../donnees/meteo\2025\synop.202509.csv
../donnees/meteo\2025\synop.202510.csv
../donnees/meteo\2025\synop.202511.csv
../donnees/meteo\2025\synop.202512.csv